/* Need to stop maps from being positioned all over the page */
#ogdi-map, 
#ogdi-map #bing-map {
	position: relative;
}

/* Override the default Bing Map width */
#ogdi-map #bing-map {
	width:100% !important;
}