/* Add some margins to the wrapper */
#ogdi-wrapper {
  margin:10px 0;
}

/* Need to stop maps from being positioned all over the page */
#ogdi-map, 
#ogdi-map #bing-map {
  position: relative;
}

/* Override the default Bing Map width */
#ogdi-map #bing-map {
  width:100% !important;
}

/* Style the filter help link */
.ogdi-helptip {
  display: block;
  float:right;
  font-size:0.81em;
  text-align:right;
}